<!DOCTYPE html>
<html lang="en">
<head>
    <title>my profile</title>
    <!-- BootstrapCDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/editprofile_style.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto:300,400,500,700&display=swap" rel="stylesheet">
    {{!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="scripts/editprofile_script.js"> </script>
    <script src="scripts/navbar_script.js"> </script>
    <script src="scripts/validator.min.js" type="text/javascript"></script>

</head>
<body>
    {{> clock}}
    {{> navbar}}
    <!-- Profile Details -->
    <div id="details">
        <div class="container" id="detailscontent">
            <div class="row">
                <div class="col-md-5"> 
                    <!-- Profile Picture goes here -->
                    <img src={{{img}}} class="rounded-circle" id="profilepic">
                </div>
                <div class="col-md-7" id="textdetails">
                    <div class="row">
                        <!-- Name -->
                        <div class="col-md">
                              <h1 class="name">{{firstname}}</h1>
                              <h1 class="name">{{lastname}}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Username and rating -->
                        <div class="col-md-6">
                            <h2 id="username">@{{username}}</h2>
                        </div>
                
                    </div>
                      
                    <div class="row" id="minordetails">
                        <div class="col-md" >
                            <p id="rating">{{rating}}</p>
                        </div>
                        <div class="col-md">
                            <p id="idnum"> {{idnum}} </p>
                        </div>
                        <div class="col-md">
                            <p id="college"> {{college}} </p>
                        </div>
                    </div>

                    <div class="row" id="minordetails-label">
                        <div class="col-md" >
                            <p>rating</p>
                        </div>
                        <div class="col-md">
                            <p>id</p>
                        </div>
                        <div class="col-md">
                              <p>college</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="about">
                <div class="col-md-10">
                    <h2 id="about1">about you</h2>
                    <p id="userdesc"> {{userdesc}} </p>
                </div>
            </div>
        </div>
    </div>
    <br> <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" id="content">
                <form class="form-group" method="post" enctype="multipart/form-data"> 
                    <label for="profilepici">Profile Picture</label>
                    <div class="form-group form-c">
                        <input type="file" class="form-control" id="profilepici" name="profilepici" placeholder="Picture Link" accept='image/x-ong,image/gif,image/jpeg'>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <p class="error" id="passwordError">{{passwordError}}</p>
                    <br>
                    <div class="form-group">
                        <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password">
                    </div>
                    <p class="error" id="confirmPasswordError">{{confirmPasswordError}}</p>
                    <br>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" id="abouti" name="abouti" placeholder="About"></textarea>
                    </div> <br>
                    <input type="submit" id ="savesubmit" class="btn btn-secondary btn-block savebtn" value="Save Changes">
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>


    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>