<!DOCTYPE html>
<html lang="en">
<head>

    <title>product name</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/listing_style.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

	<!-- Countdown -->
	<link rel="stylesheet" type="text/css" href="scripts/countdown//css/jquery.countdown.css">
	<script type="text/javascript" src="scripts/countdown/js/jquery.plugin.js"></script>
	<script type="text/javascript" src="scripts/countdown/js/jquery.countdown.js"></script>

	<script src="scripts/listing_script.js"></script>
</head>
<body>
    {{> clock}}
    {{> navbar}}

    <div class="container">
        <div class="row">
            <div class="col-md">
                <h1 id="productname">{{productname}}</h1>
            </div>
        </div>
		<div class="row">
			<div class="col-md">
				<p><span id="typelabel">product type:</span> <span id="producttype"> {{producttype}} </span></p>
			</div>
			<a href="profile.html">
				<div class="col-md" id="userhandle">
					<img src= {{{userpic}}} id="userpic">
					<p id="username"> @{{username}} </p>
				</div>
			</a>
		</div>

		<!-- Carousel -->
		<div class="row">
			<div class="col">
			<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner" id="x">
					<script> var x=0;</script>
					{{#each photo}}
						<script>
							if(x==0) {
								$("#id").append("<div class=\"carousel-item active\">");
							}
							else {
								$("#id").append("<div class=\"carousel-item\">");
							}
						</script>
						<img src={{{img}}} class="d-block w-100" alt="...">
						</div>
						<script>x++; </script>
					{{/each}}
				</div>
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
				</div>
			</div>
		</div>

		<!-- Product description -->
		<div class="row">
		<div class="col">
			<p id="productdesc"> {{productdesc}} </p>
		</div>

		</div>
	</div>

	<div class="container" id="productinfo">
		<!-- price range -->
		<div class="row info">
			<div class="col-md">
			<h2 id="pricerange">price range</h2>
			</div>

			<div class="col-md infoval" >
			<p id="pricerangeval"><span id="lb"> {{lowrange}}</span> - <span id="ub"> {{highrange}}</span></p>
			</div>
		</div>

		<!-- bid duration -->
		<div class="row info">
		<div class="col-md">
			<h2 id="bidduration">bid duration</h2>
		</div>

		<div class="col-md infoval" id="countdowninfo">
			<div id="countdown"></div>
		</div>
		</div>

		<!-- highest bid -->
		<div class="row info">
		<div class="col-md">
			<h2 id="highest">highest bid</h2>
		</div>

		<div class="col-md infoval">
			<p><span id="highestbid"> {{highestbid}} </span> php</p>
		</div>
		</div>

		<!-- highest bidder -->
		<div class="row info">
			<div class="col-md">
				<h2 id="highest">highest bidder</h2>
			</div>

			<div class="col-md infoval">
				<p><a id="highestbidder" href="profile.html"> @{{highestbidderun}} </a></p>
			</div>
			</div>


	</div>

	<br><br>

	<div class="container" id="useractions">
		<div class="form-row">
			<div class="col-md-8">
				<input type="text" class="form-control" placeholder="price" id="price">
			</div>
			<div class="col-md-4">
			<button class="btn btn-secondary" id="raisebid" name="raisebid">raise bid</button>
			</div>
		</div>

		<div class="form-row" id="pinbuy">

		<div class="col-md">
			<button class="btn btn-secondary btn-block" id="pin" name="pin">pin bid</button>
		</div>

		<div class="col-md">
			<button class="btn btn-secondary btn-block" id="buyout" name="buyout">buy out</button>
		</div>

		</div>
	</div>



	<!-- Scripts -->

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
