<!DOCTYPE html>
<html lang="en">
<head>
    <title>mylistings</title>
    <!-- BootstrapCDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/mylistings_style.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="scripts/mylistings_script.js"> </script>
</head>
<body>
    {{> clock}}
    {{> navbar}}


    <div>
        <div class="container mylistings" id="mylistings">
            <h1 id="my">my.</h1>
            <h1 id="listings">listings.</h1>
            
            <div class="row">
            <script>x=0;</script>

            {{#each olisting}}
                    <div class="col-md-6">
                        <div class="card" style="width: 25rem;">
                            <img src="https://www.thesprucepets.com/thmb/jbD_0GJnIVGmnLve7QDe9hCDbPU=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/Stocksy_txp33a24e10lxw100_Medium_214761-5af9d6d7875db900360440a7.jpg" class="card-img-top" alt="product">
                            <div class="card-body">
                                <h5 class="card-title" > {{olname}} </h5>
                                <p class="card-text" > {{oldescription}}</p>
                                <h6 class="prices">highest bidder: {{olusername}}</h6>
                                <h6 class="prices"><span>{{olprice}}</span>php</h6>
                                <a href="listing.html" class="btn btn-secondary btn-block bid"> Ongoing</a>  
                            </div>
                        </div>
                    </div>
                <script>
                    x++;
                if(x%2==0){
                    $("#mylistings").append("</div> <div class=\"row\"");
                    x=0;
                }
                </script>
            {{/each}}

            {{#each clisting}}
                <div class="col-md-6">
                    <div class="card" style="width: 25rem;">
                        <img src="https://www.thesprucepets.com/thmb/jbD_0GJnIVGmnLve7QDe9hCDbPU=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/Stocksy_txp33a24e10lxw100_Medium_214761-5af9d6d7875db900360440a7.jpg" class="card-img-top" alt="product">
                        <div class="card-body">
                            <h5 class="card-title" > {{clname}} </h5>
                            <p class="card-text" > {{cldescription}} </p>
                            <h6 class="prices">winner: @jedtan</h6>
                            <h6 class="prices"><span>1000</span>php</h6>
                            <button class="btn btn-secondary btn-block bid" id="completed" disabled>Completed</a>
                        </div>
                    </div>
                </div>
            {{/each}}

            <div class="row">
                <div class="col-md-6">
                    <div class="card" style="width: 25rem;">
                        <img src="https://www.thesprucepets.com/thmb/jbD_0GJnIVGmnLve7QDe9hCDbPU=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/Stocksy_txp33a24e10lxw100_Medium_214761-5af9d6d7875db900360440a7.jpg" class="card-img-top" alt="product">
                        <div class="card-body">
                            <h5 class="card-title" >kitty cat</h5>
                            <p class="card-text" >This is cat. Pls buy him, he needs home. His name is fluffly.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                            <h6 class="prices"><span>100</span>php - <span>5000</span>php</h6>
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="listing.html" class="btn btn-secondary btn-block bid">View</a> 
                                </div>
                                <div class="col-md-4">
                                    <a href="editlisting.html" class="btn btn-secondary btn-block bid"> Edit</a>  
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-secondary btn-block bid delete remove" id="test"> Delete</a>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card" style="width: 25rem;">
                        <img src="https://www.thesprucepets.com/thmb/jbD_0GJnIVGmnLve7QDe9hCDbPU=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/Stocksy_txp33a24e10lxw100_Medium_214761-5af9d6d7875db900360440a7.jpg" class="card-img-top" alt="product">
                        <div class="card-body">
                            <h5 class="card-title" >kitty cat</h5>
                            <p class="card-text" >This is cat. Pls buy him, he needs home. His name is fluffly.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                            <h6 class="prices"><span>100</span>php - <span>5000</span>php</h6>
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="listing.html" class="btn btn-secondary btn-block bid">View</a> 
                                </div>
                                <div class="col-md-4">
                                    <a href="editlisting.html" class="btn btn-secondary btn-block bid"> Edit</a>  
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-secondary btn-block bid delete remove" id="test"> Delete</a>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>

    
    <div class="container-fluid mylistings" id="pinnedlistings">
        <h1 id="my">my.</h1>
        <h1 id="listingparticipation">listing participations.</h1>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div id="pinnedlistingscarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md partItemLeft">
                                    <div class="card participationcard" style="width: 25rem;">
                                        <img src="https://www.thesprucepets.com/thmb/jbD_0GJnIVGmnLve7QDe9hCDbPU=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/Stocksy_txp33a24e10lxw100_Medium_214761-5af9d6d7875db900360440a7.jpg" class="card-img-top" alt="product">
                                        <div class="card-body">
                                            <h5 class="card-title" >kitty cat</h5>
                                            <p class="card-text" >This is cat. Pls buy him, he needs home. His name is fluffly.</p>
                                            <h6 class="prices">highest bidder: @imsopogi</h6>
                                            <h6 class="prices"><span>1000</span>php</h6>
                                            <a href="listing.html" class="btn btn-secondary btn-block bid"> View</a>  
                                        </div>
                                    </div>
                                </div>
                             
        
                            <div class="col-md partItemRight">
                                <div class="card participationcard" style="width: 25rem;">
                                    <img src="https://www.thesprucepets.com/thmb/jbD_0GJnIVGmnLve7QDe9hCDbPU=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/Stocksy_txp33a24e10lxw100_Medium_214761-5af9d6d7875db900360440a7.jpg" class="card-img-top" alt="product">
                                    <div class="card-body">
                                        <h5 class="card-title" >kitty cat</h5>
                                        <p class="card-text" >This is cat. Pls buy him, he needs home. His name is fluffly.</p>
                                        <h6 class="prices">highest bidder: @imsopogi</h6>
                                        <h6 class="prices"><span>1000</span>php</h6>
                                        <a href="listing.html" class="btn btn-secondary btn-block bid"> View</a>  
                                    </div>
                                </div>
                            </div>
        
                                         
                        </div>

                          
                      </div>

                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md partItemLeft">
                              <div class="card participationcard" style="width: 25rem;">
                                  <img src="https://i.ytimg.com/vi/uHKfrz65KSU/maxresdefault.jpg" class="card-img-top" alt="product">
                                  <div class="card-body">
                                      <h5 class="card-title" >kitty cat</h5>
                                      <p class="card-text" >This is cat. Pls buy him, he needs home. His name is fluffly.</p>
                                      <h6 class="prices">highest bidder: @imsopogi</h6>
                                      <h6 class="prices"><span>1000</span>php</h6>
                                      <a href="listing.html" class="btn btn-secondary btn-block bid"> View</a>  
                                  </div>
                              </div>
  
                            </div>
                           
      
                            <div class="col-md partItemRight">
                              <div class="card participationcard" style="width: 25rem;">
                                  <img src="https://i.ytimg.com/vi/uHKfrz65KSU/maxresdefault.jpg" class="card-img-top" alt="product">
                                  <div class="card-body">
                                      <h5 class="card-title" >kitty cat</h5>
                                      <p class="card-text" >This is cat. Pls buy him, he needs home. His name is fluffly.</p>
                                      <h6 class="prices">highest bidder: @imsopogi</h6>
                                      <h6 class="prices"><span>1000</span>php</h6>
                                      <a href="listing.html" class="btn btn-secondary btn-block bid"> View</a>  
                                  </div>
                              </div>
                            </div>
      
                                       
                      </div>

                        
                    </div>
    </div>
                    

                    <a class="carousel-control-prev" href="#pinnedlistingscarousel" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#pinnedlistingscarousel" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        
    </div>
    


    <div class="container-fluid mylistings" id="mylisting">
        <h1 id="my">my.</h1>
        <h1 id="pinnedl">pinned listings.</h1>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md partItemLeft">
                                    <div class="card participationcard" style="width: 25rem;">
                                        <img src="https://www.thesprucepets.com/thmb/jbD_0GJnIVGmnLve7QDe9hCDbPU=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/Stocksy_txp33a24e10lxw100_Medium_214761-5af9d6d7875db900360440a7.jpg" class="card-img-top" alt="product">
                                        <div class="card-body">
                                            <h5 class="card-title" >kitty cat</h5>
                                            <p class="card-text" >This is cat. Pls buy him, he needs home. His name is fluffly.</p>
                                            <h6 class="prices">highest bidder: @imsopogi</h6>
                                            <h6 class="prices"><span>1000</span>php</h6>
                                            <a href="listing.html" class="btn btn-secondary btn-block bid"> View</a>  
                                        </div>
                                    </div>
                                </div>
                             
        
                            <div class="col-md partItemRight">
                                <div class="card participationcard" style="width: 25rem;">
                                    <img src="https://www.thesprucepets.com/thmb/jbD_0GJnIVGmnLve7QDe9hCDbPU=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/Stocksy_txp33a24e10lxw100_Medium_214761-5af9d6d7875db900360440a7.jpg" class="card-img-top" alt="product">
                                    <div class="card-body">
                                        <h5 class="card-title" >kitty cat</h5>
                                        <p class="card-text" >This is cat. Pls buy him, he needs home. His name is fluffly.</p>
                                        <h6 class="prices">highest bidder: @imsopogi</h6>
                                        <h6 class="prices"><span>1000</span>php</h6>
                                        <a href="listing.html" class="btn btn-secondary btn-block bid"> View</a>  
                                    </div>
                                </div>
                            </div>
        
                                         
                        </div>

                          
                      </div>

                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md partItemLeft">
                              <div class="card participationcard" style="width: 25rem;">
                                  <img src="https://i.ytimg.com/vi/uHKfrz65KSU/maxresdefault.jpg" class="card-img-top" alt="product">
                                  <div class="card-body">
                                      <h5 class="card-title" >kitty cat</h5>
                                      <p class="card-text" >This is cat. Pls buy him, he needs home. His name is fluffly.</p>
                                      <h6 class="prices">highest bidder: @imsopogi</h6>
                                      <h6 class="prices"><span>1000</span>php</h6>
                                      <a href="listing.html" class="btn btn-secondary btn-block bid"> View</a>  
                                  </div>
                              </div>
  
                            </div>
                           
      
                            <div class="col-md partItemRight">
                              <div class="card participationcard" style="width: 25rem;">
                                  <img src="https://i.ytimg.com/vi/uHKfrz65KSU/maxresdefault.jpg" class="card-img-top" alt="product">
                                  <div class="card-body">
                                      <h5 class="card-title" >kitty cat</h5>
                                      <p class="card-text" >This is cat. Pls buy him, he needs home. His name is fluffly.</p>
                                      <h6 class="prices">highest bidder: @imsopogi</h6>
                                      <h6 class="prices"><span>1000</span>php</h6>
                                      <a href="listing.html" class="btn btn-secondary btn-block bid"> View</a>  
                                  </div>
                              </div>
                            </div>
      
                                       
                      </div>

                        
                    </div>
    </div>
                    

                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        
    </div>

    

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>
