<!DOCTYPE html>
<html lang="en">
<head>

    <title>{{username}}</title>
    <!-- BootstrapCDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/profile_style.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b203cdfa08.js" crossorigin="anonymous"></script>
   <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="scripts/profile_script.js"></script>
    <script src="scripts/navbar_script.js"> </script>
</head>
<body>
    {{> clock}}
    {{> navbar}}

      <!-- Profile Details -->
     
      
      <div id="details">
          <div class="container" id="detailscontent">
              <div class="row">
                  <div class="col-md-5"> 
                    <!-- Profile Picture goes here -->
                    <img src={{{img}}} class="rounded-circle" id="profilepic">
                  </div>
                  <div class="col-md-7" id="textdetails">
                      
                      <div class="row">
                          <!-- Name -->
                          <div class="col-md">
                              <h1 class="name">{{firstname}}</h1>
                              <h1 class="name">{{lastname}}</h1>
                          </div>
                      </div>
                      <div class="row">
                          <!-- Username and rating -->
                          <div class="col-md-6">
                              <h2 id="username">@{{username}}</h2>
                    
                          </div>
                          
                      </div>
                      <br>
                      <div class="row">
                        
                        <div class="col-md"  id="buttons">
                            <span><a class="btn btn-secondary btn-sm" href="/messages?email={{email}}" id="message" name="message"><i class="far fa-envelope"></i> </a> </span>
                            <button type="button" class="btn btn-secondary btn-sm" id="rate" name="rate" data-toggle="collapse" data-target="#collapserating" aria-expanded="false" aria-controls="collapserating"><i class="fas fa-percentage"></i></button>
                            
    
                          <div class="collapse" id="collapserating">
                              <div class="card card-body bg-light mb-3" style="color: #454545;">
                                <select class="custom-select mr-sm-2" id="ratings">
                                    <option value="1.0">1</option>
                                    <option value="2.0">2</option>
                                    <option value="3.0">3</option>
                                    <option value="4.0">4</option>
                                    <option value="5.0">5</option>
                                    <option value="6.0">6</option>
                                    <option value="7.0">7</option>
                                    <option value="8.0">8</option>
                                    <option value="9.0">9</option>
                                    <option value="10.0">10</option>
                                </select>
                                <button class="btn btn-sm btn-secondary" data-toggle="collapse" data-target="#collapserating" id="submitrating">submit</button>
                              </div>
                          </div>
                            
                        </div>
                      </div>
                      
                      <div class="row" id="minordetails">
                          <div class="col-md" >
                              <p id="rating">{{rating}}</p>
                          </div>
                          <div class="col-md">
                              <p id="idnum">{{idnum}}</p>
                          </div>

                          <div class="col-md">
                                <p id="college">{{college}}</p>
                          </div>
                      </div>

                      <div class="row" id="minordetails-label">
                        <div class="col-md" >
                            <p>rating</p>
                        </div>
                        <div class="col-md">
                            <p>id</p>
                        </div>
                        <div class="col-md">
                              <p>college</p>
                        </div>
                    </div>


                  </div>

              </div>
              <div class="row" id="about">
                  <div class="col-md-10">
                    <h2 id="about1">about</h2>
                    <p id="userdesc">{{description}}</p>
                  </div>
                  
              </div>
          </div>
      </div>

      <!-- Active Listings -->
      <div>
          <div class="container" id="activelistings">
            <h1 id="active" class="title2">active listings</h1>
              <div class="row" id="listings">
                  
                  <script>
                    x = 0;
                </script>
                {{#each products}}
                    <div class="col-md-6">
                        <div class="card" style="width: 25rem;">
                            <img src={{{images.[0]}}} class="card-img-top" alt="product">
                            <div class="card-body">
                                <h5 class="card-title" >{{name}}</h5>
                                <p class="card-text" >{{description}}</p>
                                <h6 class="prices"><span>{{startPrice}}</span>php - <span>{{buyOutPrice}}</span>php</h6>
                                <a href="/listing?listingid={{_id}}" class="btn btn-secondary btn-block bid">    bid</a>
                            </div>
                        </div>
                    </div>
                <script>
                    x++;
                    if(x%2==0){
                        $("#listings").append("</div> <br> <div class=\"row\"");
                        x=0;
                    }
                </script>
                {{/each}}
                <script>
                    if(x%2==1){
                        $("#listings").append("</div>");
                    }
                </script>

              </div>
          </div>
      </div>



    <!-- Scripts -->
   
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>